.px-15 {
    padding-left: 11rem;
    padding-right: 11rem;
  }
  @media screen and (max-width:1300px) {
    .px-15 {
        padding-left: 8rem;
        padding-right: 8rem;
      }
@media screen and (max-width:990px) {
    .add-box-content{
        display: flex;
        flex-direction: column; 
    }
  .add-box-content-inside{
      margin-bottom: 1rem;
  }
}
  }
  @media screen and (max-width:900px) {
    .px-15 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
     
  }
.mybtn-primary{
    width: 12rem;
    border-radius: 5px;
}
.myimg{
    height: 300px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.ms-4 {
    margin-left: 7.5rem!important;
}
.pdg{
    padding-right: .5rem;
}
.my-font{
    font-size: 14px;
}
.media-object{
    margin-top: .5rem;
}
.my-font2{
    font-size: 30px;
}
.my-hover :hover{
    text-decoration: underline;
}
.my-font-20{
    font-size: 20px;
}
.alert {
    margin-top: -1rem;
}